@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r;
    background: linear-gradient(
      249.35deg,
      rgba(95, 126, 176, 0.75) -16.29%,
      rgba(0, 209, 255, 0.75) 81.5%,
      rgba(0, 255, 240, 0.3075) 100%
    );
  }

  .bg-image {
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    bottom: 0;
  }

  .bg-image-2 {
    background-image: url("/background-2.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    bottom: 0;
  }

  .banner-gradient {
    @apply bg-gradient-to-r;
    background: linear-gradient(
      269.97deg,
      rgba(0, 255, 240, 0.2) -13.69%,
      #00d1ff 10.54%,
      #00d1ff 68.21%,
      rgba(0, 255, 240, 0.2) 115.93%
    );
  }
}
